<h2>Glossary</h2>
    <table id="GlossaryTable">
	  <tr>
		<th class="Term">Term</th>
        <th class="Definition">Definition</th>
	  </tr>
<% @glossaryitems.each do |item| %>
  <tr>
    <td><%= item.Term %></td>
    <td><%= item.Definition %></td>
  </tr>
<% end %>
</table>

<br />