/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
	font-family: "Arial",Georgia,Serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	background: url(../Images/bg.png) repeat-x #267F00;
	color: #FFFFFF;
}

html, body, #Wrapper {
	height: 100%;
	min-height: 100%;
	height: auto !important;
	/* Added so that the footer appears correctly */
	margin: 0 auto -142px;
}

#Header {
	border-bottom: 4px #000000 solid;
	height: 150px;
	width: 1024px;
	text-align: left;
	margin: 0 auto;
	position:relative;
}

#WormLogo {
    background: url(../Images/worm.png) no-repeat scroll top transparent;
	height: 385px;
	width: 302px;
	padding: 0px;
	text-align: left;
	position:relative;
	top: 20px;
	left: 30px;
}

#HeadingText {
    font-size: 55px;
   	height: 100px;
	width: 400px;
	padding: 0px;
	text-align: left;
	position: absolute;
	top: 40px;
	left: 230px; 
}

#LogInLink 
{
    top: 5px;
	right: 10px;
	position: absolute;
	font-weight: bold;
}

#BodyDiv {
	margin: 0 auto -142px;
    padding-top: 15px;
    text-align: left;
	height: 100%;
	min-height:550px;
    width: 1024px;
    position: relative;
}

#ContentArea {
    padding-left: 10px;
}

#Footer {
	border-top: 4px #000000 solid;
	width: 1024px;
	text-align: left;
	margin-bottom: 0px;
	position: absolute;
	overflow: hidden;
	height: 30px;
	bottom: 0px;
}

#dialog-form input.text {
    margin-bottom: 12px;
    padding: 0.4em;
    width: 95%;
}

#GlossaryTable 
{
    
}

th.Term {
  width: 150px;
}

th.Definition {
  width: 674px;
}

th.EditDelete {
  width: 100px;
}

th {
    border-bottom: 2px #FF0000 solid;
}
td {
    border-bottom: 2px #FFFFFF solid;
    vertical-align: top;
}


a {
	color: #FFFFFF;
}

a.visited {
    color: #FFFFFF;
}

a.hover {
	color: #FFFFFF;
}

.clear 
{
	clear:both;
}
